[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
requests = "*"
pyperclip = "*"
gevent = "*"
pillow = "*"

[requires]
python_version = "3.7"
